.main-view {
  margin: auto;
  width: fit-content;
}

.label {
  margin-bottom: 5px;
}

.input-field, #final-check {
  font-size: 15pt;
  margin: 25px;
  text-align: center;
}

input[type=text], input[type=button] {
  border-style: solid;
  font-size: 15pt;
}
